@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

//移除transition
@mixin clear-transition {
  webkit-transition: inherit !important;
  transition: inherit !important;
}

// 限制文本宽度，一行显示，过长变省略号
@mixin one-line-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// 限制文本宽度，二行显示，过长变省略号
@mixin two-line-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
